ETCD_NAME={{ inventory_hostname }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ ansible_ssh_host }}:2380
ETCD_LISTEN_PEER_URLS=https://{{ ansible_ssh_host }}:2380
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_token }}
ETCD_INITIAL_CLUSTER={% for hostname in groups['etcd-members'] %}
{% set host = hostvars[hostname] %}
{{ hostname }}=https://{{ host.ansible_ssh_host }}:2380,{%
endfor %} 
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_LISTEN_CLIENT_URLS=https://localhost:2379,https://{{ ansible_ssh_host }}:2379
ETCD_ADVERTISE_CLIENT_URLS=https://{{ ansible_ssh_host }}:2379

ETCD_CLIENT_CERT_AUTH=1
ETCD_CA_FILE=/etc/etcd/ca.crt
ETCD_CERT_FILE=/etc/etcd/{{ inventory_hostname }}.crt
ETCD_KEY_FILE=/etc/etcd/{{ inventory_hostname }}.key.insecure

ETCD_PEER_CLIENT_CERT_AUTH=1
ETCD_PEER_CA_FILE=/etc/etcd/ca.crt
ETCD_PEER_CERT_FILE=/etc/etcd/{{ inventory_hostname }}.crt
ETCD_PEER_KEY_FILE=/etc/etcd/{{ inventory_hostname }}.key.insecure
